.backgroundSlideBlock {
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: 0.3s linear;
  /* background: linear-gradient(to right, #fdfdfd, #ebedee 70%);
   */
  background-color: #f2f2f2;
}
.backgroundSlide {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slideTextBlock {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 50%;
  transform: translateY(50%);
}
.infoSlideBlock {
  background-color: black;
}
.slidePcText {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 35em;
  font-weight: 400;
  line-height: 1.1;
}
.slideMobText {
  color: white;
  display: none;
  font-family: 'Oswald', sans-serif;
  font-size: 25em;
  font-weight: 400;
  line-height: 1.1;
}
.infoSlideTxt {
  color: #101010;
}
.content {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 15;
}
.container {
  overflow: hidden;
}
header {
  width: 100%;
  position: fixed;
  top: 15px;
  justify-content: space-between;
}
.colorInSlideNone {
  transition: 0.2s linear;
  opacity: 0;
}
.workTxt {
  font-weight: normal;
  font-size: 1em;
  margin-left: 30px;
  color: black;
}
.infoTxt {
  font-size: 1em;
  margin-right: 30px;
  color: black;
}
.nameTxt {
  font-size: 1.2em;
  line-height: 36px;
  letter-spacing: 0.2em;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socBlock {
  position: fixed;
  bottom: 0;
  left: 10px;
}
.socBlock img {
  width: 20px;
  margin: 20px;
  cursor: pointer;
}
.contentCard {
  width: 85%;
  text-align: center;
}
.containerParent {
  overflow: hidden;
}
.mr {
  margin-right: 20px;
}
.containerParent div {
  font-size: 5.5em;
  font-weight: 500;
  line-height: 1.08;
  display: inline-block;
}
.mobile-c {
  display: none;
}
.pc-c h4 {
  font-size: 5.5em;
  font-weight: 400;
  line-height: 1.08;
  font-family: 'Euclid Circular B';
}
.footerRight {
  display: none;
  position: fixed;
  width: 48px;
  height: 48px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 100%;
  right: 15px;
  bottom: 15px;
}
.footerRight span {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  color: #1b1b1b;
}
.mobileNameTxt {
  display: none;
}
.projTxt {
  font-size: 22em;
  color: #f2f2f2;
}
.slide-1 {
  z-index: 5;
}
.workBlockTxt {
  font-family: 'Euclid Circular B';
  font-weight: 500;
  font-size: 6.5em;
  margin-left: 2.5%;
}
.workBlock {
  margin-bottom: 100px;
  margin-left: 4%;
}
.infoWorkTxt {
  color: white;
}
.infoInfoTxt {
  color: white;
}
.works {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 5555555555555;
}
.swiper {
  width: 383px;
  height: 575px;
}
.workCard {
  position: relative;
}
.work1 {
  background-color: #fff;
}
.workCard h4 {
  position: absolute;
  left: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #000000;
  font-family: 'Euclid Circular B';
}
.work1Png {
  height: 95vh;
  position: absolute;
  right: 0;
}
.preview {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-family: 'Euclid Circular B';
}
.plantexImg {
  width: 65%;
}
.work2 {
  background-color: white;
}
.workCard h4 {
  font-size: 1em;
  bottom: 30px;
}
.preview {
  font-size: 0.9em;
}
.work1 img {
  width: 86%;
}
.ri-mouse-line {
  font-size: 1.25rem;
  margin-right: 5px;
}
.swipeBlock {
  margin-top: 5px;
}
@media (max-width: 1000px) {
  .swipeBlock {
    margin-left: 7%;
  }
  .swiper {
    width: 86%;
    height: 65vh;
  }
  .work1 img {
    width: 85%;
  }
  .workTxt {
    font-size: 0.85em;
  }
  .mobileWorkBlockRight {
    display: flex;
    justify-content: flex-end;
  }
  .img {
    width: 281px;
    height: 196px;
  }
  .infoTxt {
    font-size: 0.85em;
  }
  .workBlockProject {
    width: 75%;
    display: unset;
  }
  .workBlock {
    margin-bottom: 100px;
    margin-left: unset;
  }
  .workBlockProject h1 {
    font-size: 3em;
  }
  .rightTxt {
    margin-left: unset;
  }
  .img {
    width: 75%;
  }
  .imgRight {
    width: 100%;
  }
  .slideMobText {
    display: unset;
  }
  .mobProjText {
    font-size: 13em;
    color: #f2f2f2;
  }
  .slidePcText {
    display: none;
  }
  .socBlock img {
    margin: 15px;
  }
  .containerParent div {
    font-size: 2.3em;
    line-height: 1.2;
    font-family: 'Euclid Circular B';
  }
  .pcNameTxt {
    display: none;
  }
  .mobileNameTxt {
    display: unset;
  }
  .workTxt {
    margin-left: 15px;
  }
  .infoTxt {
    margin-right: 15px;
  }
  .socBlock img {
    width: 15px;
  }
  header {
    top: 5px;
  }
  .mr {
    margin-right: 10px;
  }
  .pc-c {
    display: none;
  }
  .mobile-c {
    display: block;
  }
}
