.backgroundSlideBlock {
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: 0.3s linear;
  /* background: linear-gradient(to right, #fdfdfd, #ebedee 70%);
   */
  background-color: #f2f2f2;
}
.backgroundSlide {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slideTextBlock {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 50%;
  transform: translateY(50%);
}
.infoSlideBlock {
  background-color: black;
}
.slidePcText {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 35em;
  font-weight: 400;
  line-height: 1.1;
}
.slideMobText {
  color: white;
  display: none;
  font-family: 'Oswald', sans-serif;
  font-size: 25em;
  font-weight: 400;
  line-height: 1.1;
}
.infoSlideTxt {
  color: #101010;
}
.content {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 15;
}
.container {
  overflow: hidden;
}
header {
  width: 100%;
  position: fixed;
  top: 15px;
  justify-content: space-between;
}
.colorInSlideNone {
  transition: 0.2s linear;
  opacity: 0;
}
.workTxt {
  font-weight: normal;
  font-size: 1em;
  margin-left: 30px;
  color: black;
}
.infoTxt {
  font-size: 1em;
  margin-right: 30px;
  color: black;
}
.nameTxt {
  font-size: 1.2em;
  line-height: 36px;
  letter-spacing: 0.2em;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socBlock {
  position: fixed;
  bottom: 0;
  left: 10px;
}
.socBlock img {
  width: 20px;
  margin: 20px;
  cursor: pointer;
}
.contentCard {
  width: 85%;
  text-align: center;
}
.containerParent {
  overflow: hidden;
}
.mr {
  margin-right: 20px;
}
.containerParent div {
  font-size: 5.5em;
  font-weight: 500;
  line-height: 1.08;
  display: inline-block;
}
.mobile-c {
  display: none;
}
.pc-c h4 {
  font-size: 5.5em;
  font-weight: 400;
  line-height: 1.08;
  font-family: 'Euclid Circular B';
}
.footerRight {
  display: none;
  position: fixed;
  width: 48px;
  height: 48px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 100%;
  right: 15px;
  bottom: 15px;
}
.footerRight span {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  color: #1b1b1b;
}
.mobileNameTxt {
  display: none;
}
.projTxt {
  font-size: 22em;
  color: #f2f2f2;
}
.slide-1 {
  z-index: 0;
}
.infoWorkTxt {
  color: white;
}
.infoInfoTxt {
  color: white;
}
.works {
  width: 100%;
  z-index: 25;
  position: relative;
}
.work {
  margin-left: 15px;
  margin-bottom: 50px;
}
.work img {
  width: 35%;
}
.work h1 {
  font-size: 7em;
  font-weight: 500;
  margin-left: 50px;
}
.marginNone {
  transform: translateX(-25px);
}
.workContent {
  width: fit-content;
}
.mobileWorks {
  display: none;
}
@media (max-width: 1000px) {
  .mobileWorks {
    display: unset;
  }
  .pcWorks {
    display: none;
  }
  .workItemsRight {
    display: flex;
    justify-content: flex-end;
  }
  .workItemsRight img {
    margin-left: unset;
  }
  .workItemsRight .work {
    margin-right: 15px;
  }
  .workItemsLeft {
    display: flex;
    justify-content: flex-start;
  }
  .work {
    width: 60%;
    display: block;
  }
  .work img {
    width: 100%;
  }
  .work h1 {
    width: fit-content;
    font-size: 2.8em;
    margin-left: unset;
  }
  .workTxt {
    font-size: 0.85em;
  }
  .infoTxt {
    font-size: 0.85em;
  }
  .slideMobText {
    display: unset;
  }
  .mobProjText {
    font-size: 13em;
    color: #f2f2f2;
  }
  .slidePcText {
    display: none;
  }
  .socBlock img {
    margin: 15px;
  }
  .containerParent div {
    font-size: 2.3em;
    line-height: 1.2;
    font-family: 'Euclid Circular B';
  }
  .pcNameTxt {
    display: none;
  }
  .mobileNameTxt {
    display: unset;
  }
  .workTxt {
    margin-left: 15px;
  }
  .infoTxt {
    margin-right: 15px;
  }
  .socBlock img {
    width: 15px;
  }
  header {
    top: 5px;
  }
  .mr {
    margin-right: 10px;
  }
  .pc-c {
    display: none;
  }
  .mobile-c {
    display: block;
  }
}
