* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: black;
}
.a-c {
  display: flex;
  align-items: center;
}
.j-c {
  display: flex;
  justify-content: center;
}
.c-p {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0;
}

